nav ul, ul li
{
    display:block;
    list-style:none;
    margin:0px;
    padding:0px;
}
nav ul
{
    width:14vw;
    padding:0.14vw 0.14vw 0.07vw 0.14vw;
    background-color: rgb(57, 195, 219);
    border: 3px double rgb(34, 238, 112);
}
nav ul li
{
    border-bottom: 0.07vw solid rgb(120, 243, 167);
}
nav ul a:link, ul a:visited
{
    display:block;
    width:12vw;
    text-decoration:none;
    padding: 0.5vw;
    font-weight: bold;
    background-color:rgb(5, 107, 13);
    color:#def;
    border-left:0.73vw solid rgb(1, 85, 36);
}
nav ul a:hover
{
    width:11vw;
    background-color:#28e;
    color:#fff;
    border-left:1.4vw solid #26d;
}